* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 250px;
}

.container {
  border:  solid 1px black;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
  /*background-color: #2E4052;
  color: #7A8590;*/
}

.introduction {
  text-align: center;
}

#myName, #myJobTitle {
  margin: 0 auto;
}

#myName {
  margin-bottom: 10px;
}

#myJobTitle {
  margin-top: 0px;
}

#quote {
  text-align: center;
}

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
      background-color: rgba(241, 228, 232, 1);
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      background-color: rgba(86, 82, 100, 1);
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      background-color: rgba(242, 84, 91, 1);
    }
    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
      background-color: rgba(185, 115, 117, 1);
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
      background-color: #2E4052;
    }
